<button *ngFor="let criteria of _criterion$ | async"
        [class._selected]="criteria === _selectedCriteria"
        (click)="onCriteriaClick(criteria === _selectedCriteria ? criteria : null)"
>
  {{criteria.name}}
</button>
<generic-list [items]="_state.options"
              [relevances]="_selectedCriteria ? _state.optionsRelevances[_selectedCriteria.name] : []"
              [scores]="_scores$"
              (addItem)="addOption($event)"
              (relevanceChange)="changeRelevance($event)"
></generic-list>
