<b>Criterion:</b>
<ng-container *ngIf="_selectedCriteria | async as selectedCriteria else noSelectedCriteria">
  <button *ngFor="let criteria of _criterion$ | async"
          [class._selected]="criteria.name === selectedCriteria"
          (click)="onCriteriaClick(criteria.name === selectedCriteria ? undefined : criteria.name)"
  >
    {{criteria.name}}
  </button>
</ng-container>

<b style="float: right">
  <ng-container *ngIf="(_selectedCriteria | async) as selectedCriteria else totalRankingLabel">
    Ranking for {{selectedCriteria}}:
  </ng-container>
</b>
<ng-template #totalRankingLabel> Total Ranking:</ng-template>

<generic-list [items$]="_options$"
              [ranks$]="_ranks$"
              [scores$]="_scores$"
              [itemsTitle]="'Options'"
              (addItem)="addOption($event)"
              (relevanceChange)="changeRelevance($event)"
></generic-list>

<ng-template #noSelectedCriteria>
  <button *ngFor="let criteria of _criterion$ | async"
          (click)="onCriteriaClick(criteria.name)"
  >
    {{criteria.name}}
  </button>
</ng-template>
